
header {
    top: 150px;
    font-size: 80px;
    border: solid height: 200px;
    text-align: center;
    width: 100%
}

body {
    background-image: linear-gradient( rgb(35 98 71 / 0.65), rgb(0 0 0 / 0.65)), url("../images/bgtab.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: Arial;
}
.navigation {
}
.tableau {
}
.footer {
}

.common {
    border: solid;
    border-color: #808080;
    border-radius: 5px;
    border-width: thin;
    
    position: absolute;
}

a {
    color: #808080;
}

a:hover {
    font-weight: 900;
    text-decoration: underline;
    color: #000000;
    border-color: #000000;
    border-width: unset;
}




.menu {
    top: 280px;
    left: 5%;
    right: 5%;
    font-weight: bold;
}
.left {
    left: 5%;
    width: 42%;
    height:fit-content;
}
.right {
    right: 5%;
    width: 42%;
    height: fit-content;
}
.top{
    top: 360px;
}
.bottom{
    top:890px;

}
.footer {
    bottom: 10px;

}